.nav-purple { 
	.nav-pills&,
	.nav-tabs& {
		> li.active > a {
	      &,
	      &:hover,
	      &:focus {
	        color: @nav-tabs-purple-active-link-hover-color;
	        background-color: @nav-tabs-purple-active-link-hover-bg;
	        border: 1px solid @nav-tabs-purple-active-link-hover-border-color;
	        border-bottom-color: transparent;
	        cursor: default;
	      }
	    }
	}
}
.nav-mauve { 
	.nav-pills&,
	.nav-tabs& {
		> li.active > a {
	      &,
	      &:hover,
	      &:focus {
	        color: @nav-tabs-mauve-active-link-hover-color;
	        background-color: @nav-tabs-mauve-active-link-hover-bg;
	        border: 1px solid @nav-tabs-mauve-active-link-hover-border-color;
	        border-bottom-color: transparent;
	        cursor: default;
	      }
	    }
	}
}
.nav-blue { 
	.nav-pills&,
	.nav-tabs& {
		> li.active > a {
	      &,
	      &:hover,
	      &:focus {
	        color: @nav-tabs-blue-active-link-hover-color;
	        background-color: @nav-tabs-blue-active-link-hover-bg;
	        border: 1px solid @nav-tabs-blue-active-link-hover-border-color;
	        border-bottom-color: transparent;
	        cursor: default;
	      }
	    }
	}
}
.nav-green { 
	.nav-pills&,
	.nav-tabs& {
		> li.active > a {
	      &,
	      &:hover,
	      &:focus {
	        color: @nav-tabs-green-active-link-hover-color;
	        background-color: @nav-tabs-green-active-link-hover-bg;
	        border: 1px solid @nav-tabs-green-active-link-hover-border-color;
	        border-bottom-color: transparent;
	        cursor: default;
	      }
	    }
	}
}
.nav-orange { 
	.nav-pills&,
	.nav-tabs& {
		> li.active > a {
	      &,
	      &:hover,
	      &:focus {
	        color: @nav-tabs-orange-active-link-hover-color;
	        background-color: @nav-tabs-orange-active-link-hover-bg;
	        border: 1px solid @nav-tabs-orange-active-link-hover-border-color;
	        border-bottom-color: transparent;
	        cursor: default;
	      }
	    }
	}
}
.nav-grey { 
	.nav-pills&,
	.nav-tabs& {
		> li.active > a {
	      &,
	      &:hover,
	      &:focus {
	        color: @nav-tabs-grey-active-link-hover-color;
	        background-color: @nav-tabs-grey-active-link-hover-bg;
	        border: 1px solid @nav-tabs-grey-active-link-hover-border-color;
	        border-bottom-color: transparent;
	        cursor: default;
	      }
	    }
	}
}
.nav-black { 
	.nav-pills&,
	.nav-tabs& {
		> li.active > a {
	      &,
	      &:hover,
	      &:focus {
	        color: @nav-tabs-black-active-link-hover-color;
	        background-color: @nav-tabs-black-active-link-hover-bg;
	        border: 1px solid @nav-tabs-black-active-link-hover-border-color;
	        border-bottom-color: transparent;
	        cursor: default;
	      }
	    }
	}
}