
// New Colours
@spurple:				#4D2177;
@smauve:				#8B0066;
@sblue:					#006972;
@sgreen:				#84A40B;
@sorange:				#ED7703;
@sgrey:					#9397A1;
@sblack:				#001323;

@white: 				#fff;

// Bootstrap Vars
@btn-purple-bg:						@spurple;
@btn-purple-color:					@white;
@btn-purple-border: 				darken(spin(@btn-purple-bg, -10), 3%);
@state-purple-text:					@spurple;
@progress-bar-purple-bg: 			@spurple;

@btn-mauve-bg:						@smauve;
@btn-mauve-color:					@white;
@btn-mauve-border: 					darken(spin(@btn-mauve-bg, -10), 3%);
@state-mauve-text:					@smauve;
@progress-bar-mauve-bg: 			@smauve;

@btn-blue-bg:						@sblue;
@btn-blue-color:					@white;
@btn-blue-border: 					darken(spin(@btn-blue-bg, -10), 3%);
@state-blue-text:					@sblue;
@progress-bar-blue-bg: 				@sblue;

@btn-green-bg:						@sgreen;
@btn-green-color:					@white;
@btn-green-border: 					darken(spin(@btn-green-bg, -10), 3%);
@state-green-text:					@sgreen;
@progress-bar-green-bg: 			@sgreen;

@btn-orange-bg:						@sorange;
@btn-orange-color:					@white;
@btn-orange-border: 				darken(spin(@btn-orange-bg, -10), 3%);
@state-orange-text:					@sorange;
@progress-bar-orange-bg: 			@sorange;

@btn-grey-bg:						@sgrey;
@btn-grey-color:					@white;
@btn-grey-border: 					darken(spin(@btn-grey-bg, -10), 3%);
@state-grey-text:					@sgrey;
@progress-bar-grey-bg: 				@sgrey;

@btn-black-bg:						@sblack;
@btn-black-color:					@white;
@btn-black-border: 					darken(spin(@btn-black-bg, -10), 3%);
@state-black-text:					@sblack;
@progress-bar-black-bg: 			@sblack;

/*
@purpleText:			@spurple;
@purpleBackground:		@spurple;
@purpleBorder:			darken(spin(@purpleBackground, -10), 3%);

@mauveText:				@smauve;
@mauveBackground:		@smauve;
@mauveBorder:			darken(spin(@mauveBackground, -10), 3%);

@blueText:				@sblue;
@blueBackground:		@sblue;
@blueBorder:			darken(spin(@blueBackground, -10), 3%);

@greenText:				@sgreen;
@greenBackground:		@sgreen;
@greenBorder:			darken(spin(@greenBackground, -10), 3%);

@orangeText:			@sorange;
@orangeBackground:		@sorange;
@orangeBorder:			darken(spin(@orangeBackground, -10), 3%);

@greyText:				@sgrey;
@greyBackground:		@sgrey;
@greyBorder:			darken(spin(@greyBackground, -10), 3%);

@blackText:				@sblack;
@blackBackground:		@sblack;
@blackBorder:			darken(spin(@blackBackground, -10), 3%);

@navbarPurpleBackground:                @btnPurpleBackground;
@navbarPurpleBackgroundHighlight:       @btnPurpleBackgroundHighlight;
@navbarPurpleBorder:                    @spurple;
@navbarPurpleText:                      @white;
@navbarPurpleLinkColor:                 @white;
@navbarPurpleLinkColorHover:            @white;
@navbarPurpleLinkColorActive:           @navbarPurpleLinkColorHover;
@navbarPurpleLinkBackgroundHover:       transparent;
@navbarPurpleLinkBackgroundActive:      @navbarPurpleBackground;
@navbarPurpleSearchBackground:          lighten(@navbarPurpleBackground, 25%);
@navbarPurpleSearchBackgroundFocus:     @white;
@navbarPurpleSearchBorder:              @navbarPurpleBackground;
@navbarPurpleSearchPlaceholderColor:    #ccc;
@navbarPurpleBrandColor:                @navbarPurpleLinkColor;

@navbarMauveBackground:                @btnMauveBackground;
@navbarMauveBackgroundHighlight:       @btnMauveBackgroundHighlight;
@navbarMauveBorder:                    @smauve;
@navbarMauveText:                      @white;
@navbarMauveLinkColor:                 @white;
@navbarMauveLinkColorHover:            @white;
@navbarMauveLinkColorActive:           @navbarMauveLinkColorHover;
@navbarMauveLinkBackgroundHover:       transparent;
@navbarMauveLinkBackgroundActive:      @navbarMauveBackground;
@navbarMauveSearchBackground:          lighten(@navbarMauveBackground, 25%);
@navbarMauveSearchBackgroundFocus:     @white;
@navbarMauveSearchBorder:              @navbarMauveBackground;
@navbarMauveSearchPlaceholderColor:    #ccc;
@navbarMauveBrandColor:                @navbarMauveLinkColor;

@navbarBlueBackground:                @btnBlueBackground;
@navbarBlueBackgroundHighlight:       @btnBlueBackgroundHighlight;
@navbarBlueBorder:                    @sblue;
@navbarBlueText:                      @white;
@navbarBlueLinkColor:                 @white;
@navbarBlueLinkColorHover:            @white;
@navbarBlueLinkColorActive:           @navbarBlueLinkColorHover;
@navbarBlueLinkBackgroundHover:       transparent;
@navbarBlueLinkBackgroundActive:      @navbarBlueBackground;
@navbarBlueSearchBackground:          lighten(@navbarBlueBackground, 25%);
@navbarBlueSearchBackgroundFocus:     @white;
@navbarBlueSearchBorder:              @navbarBlueBackground;
@navbarBlueSearchPlaceholderColor:    #ccc;
@navbarBlueBrandColor:                @navbarBlueLinkColor;

@navbarGreenBackground:                @btnGreenBackground;
@navbarGreenBackgroundHighlight:       @btnGreenBackgroundHighlight;
@navbarGreenBorder:                    @sgreen;
@navbarGreenText:                      @white;
@navbarGreenLinkColor:                 @white;
@navbarGreenLinkColorHover:            @white;
@navbarGreenLinkColorActive:           @navbarGreenLinkColorHover;
@navbarGreenLinkBackgroundHover:       transparent;
@navbarGreenLinkBackgroundActive:      @navbarGreenBackground;
@navbarGreenSearchBackground:          lighten(@navbarGreenBackground, 25%);
@navbarGreenSearchBackgroundFocus:     @white;
@navbarGreenSearchBorder:              @navbarGreenBackground;
@navbarGreenSearchPlaceholderColor:    #ccc;
@navbarGreenBrandColor:                @navbarGreenLinkColor;

@navbarOrangeBackground:                @btnOrangeBackground;
@navbarOrangeBackgroundHighlight:       @btnOrangeBackgroundHighlight;
@navbarOrangeBorder:                    @sorange;
@navbarOrangeText:                      @white;
@navbarOrangeLinkColor:                 @white;
@navbarOrangeLinkColorHover:            @white;
@navbarOrangeLinkColorActive:           @navbarOrangeLinkColorHover;
@navbarOrangeLinkBackgroundHover:       transparent;
@navbarOrangeLinkBackgroundActive:      @navbarOrangeBackground;
@navbarOrangeSearchBackground:          lighten(@navbarOrangeBackground, 25%);
@navbarOrangeSearchBackgroundFocus:     @white;
@navbarOrangeSearchBorder:              @navbarOrangeBackground;
@navbarOrangeSearchPlaceholderColor:    #ccc;
@navbarOrangeBrandColor:                @navbarOrangeLinkColor;

@navbarGreyBackground:                @btnGreyBackground;
@navbarGreyBackgroundHighlight:       @btnGreyBackgroundHighlight;
@navbarGreyBorder:                    @sgrey;
@navbarGreyText:                      @white;
@navbarGreyLinkColor:                 @white;
@navbarGreyLinkColorHover:            @white;
@navbarGreyLinkColorActive:           @navbarGreyLinkColorHover;
@navbarGreyLinkBackgroundHover:       transparent;
@navbarGreyLinkBackgroundActive:      @navbarGreyBackground;
@navbarGreySearchBackground:          lighten(@navbarGreyBackground, 25%);
@navbarGreySearchBackgroundFocus:     @white;
@navbarGreySearchBorder:              @navbarGreyBackground;
@navbarGreySearchPlaceholderColor:    #ccc;
@navbarGreyBrandColor:                @navbarGreyLinkColor;

@navbarBlackBackground:                @btnBlackBackground;
@navbarBlackBackgroundHighlight:       @btnBlackBackgroundHighlight;
@navbarBlackBorder:                    @sblack;
@navbarBlackText:                      @white;
@navbarBlackLinkColor:                 @white;
@navbarBlackLinkColorHover:            @white;
@navbarBlackLinkColorActive:           @navbarBlackLinkColorHover;
@navbarBlackLinkBackgroundHover:       transparent;
@navbarBlackLinkBackgroundActive:      @navbarBlackBackground;
@navbarBlackSearchBackground:          lighten(@navbarBlackBackground, 25%);
@navbarBlackSearchBackgroundFocus:     @white;
@navbarBlackSearchBorder:              @navbarBlackBackground;
@navbarBlackSearchPlaceholderColor:    #ccc;
@navbarBlackBrandColor:                @navbarBlackLinkColor;

*/