.nav-pills.nav-purple > .active > a,
.nav-pills.nav-purple > .active > a:hover,
.nav-pills.nav-purple > .active > a:focus {
	color: @white;
	background-color: @btnPurpleBackground;
}

.nav-pills.nav-mauve > .active > a,
.nav-pills.nav-mauve > .active > a:hover,
.nav-pills.nav-mauve > .active > a:focus {
	color: @white;
	background-color: @btnMauveBackground;
}

.nav-pills.nav-blue > .active > a,
.nav-pills.nav-blue > .active > a:hover,
.nav-pills.nav-blue > .active > a:focus {
	color: @white;
	background-color: @btnBlueBackground;
}

.nav-pills.nav-green > .active > a,
.nav-pills.nav-green > .active > a:hover,
.nav-pills.nav-green > .active > a:focus {
	color: @white;
	background-color: @btnGreenBackground;
}

.nav-pills.nav-orange > .active > a,
.nav-pills.nav-orange > .active > a:hover,
.nav-pills.nav-orange > .active > a:focus {
	color: @white;
	background-color: @btnOrangeBackground;
}

.nav-pills.nav-grey > .active > a,
.nav-pills.nav-grey > .active > a:hover,
.nav-pills.nav-grey > .active > a:focus {
	color: @white;
	background-color: @btnGreyBackground;
}

.nav-pills.nav-black > .active > a,
.nav-pills.nav-black > .active > a:hover,
.nav-pills.nav-black > .active > a:focus {
	color: @white;
	background-color: @btnBlackBackground;
}

.nav-list.nav-purple > .active > a,
.nav-list.nav-purple > .active > a:hover,
.nav-list.nav-purple > .active > a:focus {
	color: @white;
	text-shadow: 0 -1px 0 rgba(0,0,0,.2);
	background-color: @btnPurpleBackground;
}

.nav-list.nav-mauve > .active > a,
.nav-list.nav-mauve > .active > a:hover,
.nav-list.nav-mauve > .active > a:focus {
	color: @white;
	text-shadow: 0 -1px 0 rgba(0,0,0,.2);
	background-color: @btnMauveBackground;
}

.nav-list.nav-blue > .active > a,
.nav-list.nav-blue > .active > a:hover,
.nav-list.nav-blue > .active > a:focus {
	color: @white;
	text-shadow: 0 -1px 0 rgba(0,0,0,.2);
	background-color: @btnBlueBackground;
}

.nav-list.nav-green > .active > a,
.nav-list.nav-green > .active > a:hover,
.nav-list.nav-green > .active > a:focus {
	color: @white;
	text-shadow: 0 -1px 0 rgba(0,0,0,.2);
	background-color: @btnGreenBackground;
}

.nav-list.nav-orange > .active > a,
.nav-list.nav-orange > .active > a:hover,
.nav-list.nav-orange > .active > a:focus {
	color: @white;
	text-shadow: 0 -1px 0 rgba(0,0,0,.2);
	background-color: @btnOrangeBackground;
}

.nav-list.nav-grey > .active > a,
.nav-list.nav-grey > .active > a:hover,
.nav-list.nav-grey > .active > a:focus {
	color: @white;
	text-shadow: 0 -1px 0 rgba(0,0,0,.2);
	background-color: @btnGreyBackground;
}

.nav-list.nav-black > .active > a,
.nav-list.nav-black > .active > a:hover,
.nav-list.nav-black > .active > a:focus {
	color: @white;
	text-shadow: 0 -1px 0 rgba(0,0,0,.2);
	background-color: @btnBlackBackground;
}
